$white: #fff;
$bgcolor: #444;
$textcolor: #aaa;
$blue: #7aa0d8;
$green: #9bd09f;
$purple: #c293d6;
$salmon: #d6a89e;
$active: #acdcb1;
$inactive: #bf4444;

body {
  width: 100%;
  background: $bgcolor;
  color: $white;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
}

button {
  border-radius: 2px;
  border: 0;
  color: $white;
  background: $blue;
  font-size: 1em;
  padding: 15px;
  margin: 0 0 10px;
}

#scenes-wrap {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr) 200px;

  .scene {
    grid-column: auto / span 1;

    &.two { grid-column: auto / span 2; }

    &.three { grid-column: auto / span 3; }

    &.purple button { background: $purple; }

    &.salmon  button { background: $salmon; }

    &.green button { background: $green; }

    button:focus {
      outline: 2px solid rgb(7, 255, 7);
    }

    .info {
      font-size: 11px;
      line-height: 1.4em;
      color: $textcolor;
    }

    .info:nth-child(2n) {
      color: #ccc;
    }
  }

  #master-control {
    font-size: 14px;
    color: $textcolor;
    grid-row: 1 / span 4;
    grid-column: 5;

    .atem-info { color: $white; }

    .disconnected {
      color: $inactive;
      font-style: italic;
    }

    .connected { color: $active; }

    .help-text { font-style: italic; }

    p { margin-top: 0; }

    label { display: block; }

    h4 {
      margin-bottom: 0;
      text-transform: uppercase;
    }

    ul {
      list-style: none;
      padding: 0;
      font-size: .8em;
      margin-top: 0;
    }

    #go {
      margin-top: 1em;
      font-size: 3em;
      width: 100%;
      background: transparent;
      border: 3px solid $white;
    }
  }
}

