body {
  background: #333;
  color: #eee;
  font: 16px/1.5em "Helvetica Neue";
}

#go {
  padding: 20px 50px;
  font-weight: bold;
  background: #333;
  color: #eee;
  font-size: 23px;
  margin: 20px 0 0;
}

.scenes {
  margin: 20px 0;
  //clear: both;

  button {
    padding: 15px;
    font-size: 16px;
    margin-bottom: 5px;

    &:focus {
      border-color: red;
    }
  }

  .scene {
    display: inline-block;
    padding: 0 25px 25px 0;

    &:last-child {
      padding-right: 0;
    }

    .info {
      font-size: 11px;
      line-height: 1.4em;
      color: #aaa;
    }

    .info:nth-child(2n) {
      color: #ccc;
    }
  }
}
.scenes.gfx button {
  background: #7daff9;
}
.scenes.cyc button {
  background: #b8fbbd;
}
.scenes.cam button {
  background: #daa8ef;
}
.scenes.link button {
  background: #efb5a8;
}

#master-control {
  width: 160px;
  float: right;

  > label {
    display: block;
  }
  //> * {
  //  margin-right: 20px;
  //  display: inline-block;
  //
  //  &:last-child {
  //    margin-right: 0;
  //  }
  //}
  .help-text {
    color: #aaa;
    font-size: 12px;
    font-style: italic;
    margin: 1px 0 0;
    padding-left: 3px;
  }

  #info-lists {
    color: #7b7b7b;

    h4 {
      margin: 10px 0 0;
      text-transform: uppercase;
      font-size: 14px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 12px;
    }
  }
}

#top {
  margin: 0;
  float: right;

  span {
    display: inline-block;
    padding: 10px 15px;
    color: #aaa;

    &.disconnected {
      color: red;
    }
  }
}
